<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Miply Patryk Makowski. All rights reserved.
 *
 * See LICENSE.txt for license details.
 *
 * @copyright   Copyright (c) 2016 Miply Patryk Makowski
 * @author      Miply Patryk Makowski <magento@miply.no>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="miply_categoriesselector" frontName="miply-categoriesselector">
            <module name="Miply_CategoriesSelectors" />
        </route>
    </router>
</config>
